/* This is the stylesheet for the weather site */

/* Table of Contents
1.Imports
2.General 
3.Mobile First Rules
4.Larger Screen Rules */

/* Section 1 -imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 General Rules */
header {
    background-color: #0e89d5;
}

header h1 {
    display: inline;
}

html {
    box-sizing: border-box;
}


*before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "sansita", "eurostyle", sans-serif;
}

body {
    font-size: 20px;
    font-family: helvetica, verdana, sans-serif;
    margin: 5px;

}

.tile {
    background-color: rgba(200, 200, 200, .6);
    /* margin: .2em auto; */
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    

}


#logo {
    float: left;
    height: 45px;
    padding-right: 1%;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    list-style: none;
    background-color: #0e89d5;
    width: 100%;
}

#page-nav {
    display: flex;
    justify-content: space-around
}

nav a {

    text-decoration: none;
    color: white;
}

footer {
    margin-bottom: 2em;
    background-color: #0e89d5;
    padding: 20px;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}

#rain {
    width: 300px;
    height: 188px;
    background-size: contain;
    align-self: center;
    background-repeat:no-repeat;
    margin: auto;
    

}

#current {
    font-size: 5em;
}

#high {
    color: red;
}

#low {
    color: blue;
}

#dial {
    position: relative;
    height: 150px;
    width: 150px;
    background: no-repeat center/85%url(/weather/images/wind-pointer.png);
    z-index: 100;
    margin: -.6em auto ;
    
    }

#curWeather {
    background-size: cover;
}

.n {
    transform: rotate(0deg)
}

.ne{
    transform: rotate(45deg)
}

.nw{
    transform: rotate(315deg)
}

.e {
    transform: rotate(90deg)
}

.s {
    transform: rotate(180deg)
}

.se{
    transform: rotate(135deg)
}

.sw{
    transform: rotate(225deg)
}
.w {
    transform: rotate(270deg)
}

#summary{
    height: 500px;
    border: solid 1px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hide{
    display:none;
}

/* Mobile First Rules */


.centered {
    position: absolute;
     top: 117%;
    left: 43%; 
    margin: auto;
    color: black;
}

/* The small pictures for the summary */
.clear {
    background-image: url("/weather/weather-images/clear_400.jpg");
}
.rain{
    background-image: url("/weather/weather-images/rain_400.jpg");
}
.fog{
    background-image: url("/weather/weather-images/fog_400.jpg");    
}
.snow{
    background-image: url("/weather/weather-images/snow_400.jpg");
}
.clouds{
    background-image: url("/weather/weather-images/clouds_400.jpg");
}


/* Large Screen Rules */
@media only screen and (min-width: 700px) {
    nav {
        position: relative;
    }

    #page-nav {
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .tile {
        padding: 0 125px;
        /* flex-grow: 1; */
        
    }

    .flex-container {

        display: flex;
        justify-content: space-around;
    }

    /* #rain {
        width: 25px;
    } */

    .centered {
        position: absolute;
        top: 55%;
        left: 45%;
        margin: 0px;
        color: black;
    }

}

/* Summary images for the big screen */
.clear {
    background-image: url("/weather/weather-images/clear_800.jpg");
}
.rain{
    background-image: url("/weather/weather-images/rain_800.jpg");
}
.fog{
    background-image: url("/weather/weather-images/fog_800.jpg");    
}
.snow{
    background-image: url("/weather/weather-images/snow_800.jpg");
}
.clouds{
    background-image: url("/weather/weather-images/clouds_800.jpg");
}