/* This is the stylesheet for the weather site */

/* Table of Contents
1.Imports
2.General 
3.Mobile First Rules
4.Larger Screen Rules */

/* Section 1 -imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 General Rules */
header{
    background-color: #0e89d5;
}
html{
    box-sizing: border-box;
}

*, *before, *:after{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6{
    font-family: "sansita", "eurostyle", sans-serif;
}

body{
    font-size: 20px;
    font-family:  helvetica, verdana, sans-serif;
}

.tile{ background-color: rgba(200,200,200,.6);
        margin: .2em auto;
        border: 1px solid;
        border-radius: 15px;    
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    color:#0e89d5
}

footer{
    margin-bottom: 2em;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}
