/* This is the stylesheet for the weather site */

/* Table of Contents
1.Imports
2.General 
3.Mobile First Rules
4.Larger Screen Rules */

/* Section 1 -imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 General Rules */
header{
    background-color: #0e89d5;
}
header h1{
    display: inline;
}
html{
    box-sizing: border-box;
}

*, *before, *:after{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6{
    font-family: "sansita", "eurostyle", sans-serif;
}

body{
    font-size: 20px;
    font-family:  helvetica, verdana, sans-serif;
    width:500px
}

.tile{ background-color: rgba(200,200,200,.6);
        margin: .2em auto;
        border: 1px solid;
        border-radius: 15px; 
        text-align: center;   
}



#logo{
        float: left;
        height: 50px;
    }

nav {
    position: fixed;
    bottom:0;
    left: 0;
    display: inline-block;
    list-style: none;
     background-color:#0e89d5;
     text-decoration:none;
     width:25em;
     
    
}

footer{
    margin-bottom: 2em;
    background-color:#0e89d5;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}

#rain {
    width: 200px;
    float: center;

}



#current{
    font-size: 5em;
}

#high {
    color:red;
}

#low{
    color:blue;
}